* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;

  /* padding-top: 20px; */
}

.counterBody {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 30px; */
}

button {
  padding: 12px 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: 100px;
  text-align: center;
}

.container {
  height: 300px;
  width: 500px;
  border: 2px solid #555;
  padding: 40px;
}

h1 {
  text-align: center;
}

.btnContainer {
  text-align: center;
  margin-top: 40px;
}

.counter {
  margin-top: 30px;
  text-align: center;
  background-color: #333;
  width: 75px;
  margin-inline: auto;
  padding: 16px 22px;
  font-size: 35px;
}

.increament {
  background-color: #f59e0b;
}

.decreamentBtn {
  margin-right: 20px;
  margin-left: 20px;
  background-color: #2f80ed;
}

.reset {
  background-color: #ef4444;
}
