* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.practiceContainer {
  width: 100%;
  text-align: center;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

button {
  padding: 16px 40px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  /* width: 100px; */
  text-align: center;
  background-color: #2f80ed;
  font-size: 25px;
  width: fit-content;
  margin-inline: auto;
}
